# Database Settings
DATABASE_URL="postgres://postgres:password@localhost:5432/uim"


# UIM Settings

## UIM Authentication Key - used to hash the UIM session token
UIM_AUTH_KEY="1234567890123456789012345678901"

## UIM Base URL e.g. http://localhost:5173 or https://market.swc-unnamed.app
UIM_BASE_URL="http://localhost:5173"

## Combine SSO Settings
COMBINE_CLIENT_ID="<your-client-id>"
COMBINE_SECRET_KEY="<your-client-secret>"
